.nav-bar {
  position: sticky;
  top: 0;
  z-index: 5;
}
.nav-section {
  padding: 1rem 3rem;
}
.search-input {
  margin-right: -3.5rem;
  padding: 1rem 2rem;
}
.btn-search {
  padding: 0rem;
  margin: 0rem;
}
