.input-field {
  width: 100%;
}
.login {
  max-width: 114rem;
  margin: 0 auto;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 20%);
  align-items: stretch;
}
.login-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 2rem 5rem;
  width: 100%;
}
.btn-login {
  width: 100%;
}
.label-remember {
  font-size: 1.4rem;
}
.img-responsive {
  /* object-fit: contain; */
}
.forgot-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-signup {
  text-align: center;
}
