.wishlist {
  justify-items: center;
}
/* .nav-user-btn {
  position: relative;
} */
.icon-notification {
  position: absolute;
  top: 0.2rem;
  left: 5.9rem;
}
.icon-cart {
  left: 4rem;
}
.nav-notification-icon {
  position: relative;
}
